
@layer components {
  /* Base Calendar variables and core styles */
  .rdp {
    --rdp-cell-size: 60px;
    --rdp-accent-color: rgb(139 92 246);
    --rdp-background-color: rgb(248 250 252);
    --rdp-accent-color-dark: rgb(124 58 237);
    --rdp-background-color-dark: rgb(30 41 59);
    --rdp-outline: 3px solid var(--rdp-accent-color);
    --rdp-outline-selected: 3px solid rgba(0, 0, 0, 0.75);
  }
}
